---
headline: Mesa Verde / Cortez - Condo for Rent
title: Home
subhead: A comfortable home for Mesa Verde visitors!
---

<h2>Welcome to Mesa Verde Condo!</h2>

Our great condo is located in Cortez Colorado, with direct views to Mesa Verde and close access to all of the sights in the Four Corners area.
<p></p>

The condo has open living space with abundant light and great sunsets.  There is a private patio for evening relaxation, and hiking paths from condo's door.
<p></p>

<center><img margin=15 src="img/view-thin.jpg" height=150 /></center><br>
<p></p>

We are in the Cortez / Mesa Verde / Four Corners Region of Southwest Colorado, USA.  The Cortez Airport is five minutes away, Durango 50 miles, Telluride Ski Area 70 miles.
<p></p>

We cater to long-term visitors, who are working or vacationing, and looking to stay for a week, a month, or more.  Contact us for more information on rates and availability.
