---
headline: Mesa Verde / Cortez - Condo for Rent
title: Pictures
inMenu: true
orderInfo: 10
subhead: A comfortable home for Mesa Verde visitors!
---

<h2>Pictures</h2>

The condo is new and clean, with 1 Bedroom plus a convertible bed in the main room.
<img src="img/bedroom-thin.jpg" width=715 />
<p></p>

There is 1 full bath, a stove and fridge, and washing machine.
<img src="img/kitchen-thin.jpg" width=715 />
<p></p>

There is a TV with basic cable.  We have a wifi connection for high-speed internet.  You will have to use your own cellphone.
<img src="img/table-thin.jpg" width=715 />



