---
title:     Apply
hdr_img:   images/canyon.jpg
right_nav: String.new("Apply to BAMRU")
right_txt: quote
---
<table cellpadding="8" bgcolor="#CC0000" width="423" height="45">
  <tr>
    <td valign="bottom"> <font class="title1"><font style="color: #FFFFFF">Application<br>
    </font>
    </font>
    </td>
  </tr>
</table>

<table cellpadding="6" bgcolor="#FFFFFF" width="423" height=400>
  <tr>
    <td valign="top">
      <p><font class="caps"><font style="color: #3366CC">APPLICATION INSTRUCTIONS</font></font><br>
        The downloadable application is editable in MS Word or Open Office.
      <p><font class=summary><b>Download the application</b></font><br>
        <A href="../assets/BAMRU_Application_2013.doc" class="nav1">CLICK HERE</A>
      <p>
        To be eligible to apply for BAMRU membership, you must meet the minimum attendance requirement, which is two General Meetings and two Trainings.
      </p>
      <p>
        An application to BAMRU comprises the following elements:
      <ol>
        <li>Application document, fully completed.
        <li>Scan of current CPR-Pro card. ("CPR-Pro" is shorthand for American Red Cross 'CPR/AED for the Professional Rescuer', or American Heart Association 'Basic Life Support for Healthcare Providers'. Other CPR certifications are not accepted.)
        <li>Scan of a current first-aid/medical certification that shows issuing organization, date of certification, and date of expiry.  Any first aid course is acceptable.
        <li>PDF or scan of FEMA IS-100 certification.
        <li>If you have prior emergency services experience (SAR, NPS, NSP, EMS, Fire, etc) provide the name, phone number and email of two references in the organization.
        <li>Optional: You may provide scans or PDFs of any other certifications that will help us evaluate your skills and experience, for example, Avy I or II certifications, advanced NSP certifications, amateur radio license, POST certification, etc.
      </ol>
      </p>
      <p>
        Applications must be submitted by email to <b>secretary@bamru.org</b>.  Please be sure you have met the minimum attendance requirement.  Please make sure your application is complete.  Incomplete applications will not be accepted.
      </p>
    </td>

  </tr>
</table>

