---
title:     BAMRU Meeting Location
hdr_img:   images/mtn_2.jpg
right_nav: right_nav(:meeting_locations)
right_txt: quote
---

<div class="header_box"><div>Meeting Locations</div></div>

<div class="content">

  <a name="PeninsulaMeeting"></a>
  <div class="capsblue ten_px">PENINSULA MEETING</div>
  Our Peninsula meetings are in Redwood City, CA in either of the two buildings below. Refer to the Calendar for details.
  <div class="summary ten_px"><b>455 County Center Room 101</b></div>
  Entrance is on the south side of the building.
  <div class="summary ten_px"><b>400 County Center</b></div>
         Hall of Justice and Records, Jury Assembly Room (in basement).
         Entrance is on the north side of the building.
         Look for the BAMRU member in the red jacket to let you through the locked entrance. Please arrive promptly as you may not be able to get in otherwise.
  <a href="../images/assets/mapredwoodcity3_large.gif">
    <img alt="Peninsula Meeting Map" src="../images/assets/mapredwoodcity3.gif"
         style="border: 0px none ; width: 405px;">
  </a>
  <p/>
  <a name="EastBayMeeting"></a>
  <div class="capsblue ten_px">EAST BAY MEETING</div>
  <div class="summary ten_px"><b>17930 Lake Chabot Road, Castro Valley</b></div>
  Follow the driveway at 17930 to the classroom at the top of the hill.
  <a href="../images/assets/mapeastbay_large.gif">
    <img alt="East Bay Meeting Map" src="../images/assets/mapeastbay.gif"
         style="border: 0px none ; width: 405px;">
  </a>

</div>

